.chcnt {
  min-width: 348px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url("C:\Users\Kalim Khan\OneDrive\Documents\whatsapp\public\m1.jpeg");
  background-size: cover;
  
}

.chcnt-header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px 0px 5px 10px;
  background: linear-gradient(to right, #ea7a50, #0fc0cb);
  align-items: center;
  justify-content: space-between;
  opacity: 0.75;
}

.chuser-inf {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}

.chat-user-img {
  width: 44px;
  margin-right: 15px;
  margin-left: 10px;
}

.chat-user-img > img {
  width: 100%;
  border-radius: 100%;
}

.chcntheader-btn {
  margin-right: 10px;
}

.chdiscnt {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: linear-gradient(to right, #ea7a50, #0fc0cb);
  
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 13px;
  background: linear-gradient(to right, #3f3f3f, #fffffa);
  position: relative;
}

.chat-input-btn {
  margin-right: 14px;
  margin-left: 14px;
}

.chat-input-btn > .MuiSvgIcon-root {
  font-size: 26px;
  color: yellowgreen;
  cursor: pointer;
  margin-right: 10px;
}

.chat-input > form {
  flex: 1;
}

.chat-input > form > input {
  height: 35px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding-left: 10px;
  width: 90%;
  margin-right: 10px;
}

.chat-input-send-btn {
  background-color: #0af5f5;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.chat-input-send-btn > .MuiSvgIcon-root {
  font-size: 24px;
}
