.usp {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 4px solid black;
  cursor: pointer;
}

.usp:hover {
  background: linear-gradient(to right, white, #a00af0);
}

.user-image {
  width: 44px;
}

.user-image > img {
  width: 100%;
  border-radius: 100%;
}

.usi {
  flex: 1;
  text-align: left;
  margin-left: 20px;
}
.usn {
  text-transform: capitalize;
  font-size: 20px;
}

.usl {
  font-size: 17px;
  margin-left: 1px;
  margin-top: 2px;
  color: purple;
}
